# Node modules
node_modules/

# Build output
/backend/build
/frontend/build
/backend/dist

# Environment files (all directories)
**/.env

# Logs
*.log

# IDE and editor specific files
.vscode
*.sublime-project
*.sublime-workspace
*.idea

# Operating System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo
*.swn

# Dependency directories
*.lock

# Miscellaneous
npm-debug.log*
yarn-debug.log*
yarn-error.log*
